div.content {
    padding:0 16px;
    font-family: Libre Franklin;
}

body {
  background-image: url(/background.svg);
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(/backgroundtranslucent.svg);
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  opacity: 1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  opacity: 1;
}

.active {
  background-color: #0142e8;
  color: white;
  opacity: 1;
}



  .header {
    width: 100%;
  }

  .footer {
    padding: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #777777;
    color: #0142e8;
    text-align: center;
    font-family: Libre Franklin;
  }

