div.content {
    padding:0 16px;
    font-family: Cantarell;
}

body {
  background-image: url(/background.svg);
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(/backgroundtranslucent.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  opacity: 1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Cantarell;
}

li a:hover {
  background-color: #111;
  color: white;
  opacity: 1;
}

.active {
  background-color: #0142e8;
  color: white;
  opacity: 1;
}

.footer {
    position: absolute;
    padding: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(/backgroundtranslucent.svg);
    color: black;
    text-align: center;
    font-family: Cantarell;
  }

.footer2 {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  background-image: url(/backgroundtranslucent.svg);
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: Cantarell;
}

.columns3 {
  column-count: 3;
  column-gap: 2.5%;
  font-family: Cantarell;
  position: relative;
  left: 1%;
}

.columns2 {
  column-count: 2;
  column-gap: 2.5%;
  font-family: Cantarell;
}

h1 {
  column-span: all;
}
